.lista-box {
    background-color: #fdf6c3;
    width: 30%;
    height: 300px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden; // Evita que crezca indefinidamente
    position: relative; /* Aseguramos que la X se posicione respecto a este contenedor */
  }
  
  .eliminar-lista {
    position: absolute;
    top: 0px !important;  /* Ajustamos para que esté un poco más alejado del borde */
    right: 10px; /* Ajustamos el margen de la derecha */
    font-size: 24px;
    color: #266838;
    cursor: pointer;
    z-index: 10; /* Asegura que la X esté por encima de otros elementos */
  }
  
  .add-product-button {
    background-color: #85A468;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    
    &:hover {
      background-color: #6d8b52;
    }
  }
  
  .producto-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px !important;
    padding: 10px;
    background-color: #88AD96;
    border-radius: 8px;
    border: 1px solid #ddd;
    cursor: pointer;
    margin-bottom: 10px;
    
    &:hover {
      background-color: #e0e0e0;
    }
  }
  
  .nombre {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  .precio {
    font-size: 16px;
    color: #333;
    font-weight: bold;
  }
  