.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  

}

.login-box {
  display: flex;
  max-width: 60rem !important; // Aumenta el tamaño máximo
  width: 60% !important; // Ajusta el ancho relativo al contenedor
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  border-color: black !important  ;
  
}

.login-box-inner {
  flex: 1;
  padding: 1.5rem;
  background-color: #266838;
  color: white;
  border-radius: 8px;
}

.login-heading {
  font-family: 'Nixie One', sans-serif !important;
  text-align: center;
  margin-bottom: 1rem;
}

.form-control {
  font-family: 'Nixie One', sans-serif !important;
  display: flex;
  flex-direction: column;
}

.input-field {
  background-color: #85A468 !important;
  color: black !important;
  padding: 0.5rem;
  border-radius: 4px;
  margin-bottom: 15px !important;
}

.input-field::placeholder {
  color: black; /* El color que deseas para el placeholder */
  font-size: 12px; /* Opcional: para cambiar el tamaño del texto del placeholder */
}

.button2 {
  font-family: 'Nixie One', sans-serif;
  font-size: 14px !important;
  width: 60%;;
  color: white !important;
  background-color: #88AD96 !important;
  padding: 1rem;
  display: flex;
  margin-left: 60px !important;
  border-radius: 4px;
  transition: background-color 0.2s;
  &:hover {
    background-color: #d69e2e;
  }
}

.register-text {
  font-family: 'Nixie One', sans-serif;
  text-align: center;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.register-link {
  color: blue !important; 
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.logo-container {
  flex: 1.2 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem !important;
}

.logo {
  max-width: 100% !important  ;
  height: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #266838;
  padding: 0.5rem;
  text-align: center;
}

.footer-text {
  font-family: 'Nixie One', sans-serif;
  color: white;
  font-size: 0.875rem;
}
