.navbar {
    background-color: #88AD96;
    padding: 1rem;
  
    .nav-links {
     font-family: 'Nixie One', sans-serif !important;
      display: flex;
      justify-content: flex-end;
      gap: 1.5rem;
      color: #266838; // Verde oscuro
  
      a {
        text-decoration: none;
        color: inherit;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  